* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    margin-top: 100px;
}

#top-bar {
    border: 1px solid black;
    text-align: center;
    position: fixed;
    width: 100vw;
    top: 0px
}

.icon {
    --dim: 30px;
    position: absolute;
    font-size: 2.5rem;
    transform: translateY(-50%);
    cursor: pointer;
}
.icon:hover {
    text-shadow: 2px 2px 1px aquamarine;
}

.plus {
    top: 50%;
    right: 10px;
}

.minus {
    top: 15px;
    right: 15px;
}

#library {
    display: flex;
    max-width: 750px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.card {
    height: 300px;
    width: 200px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 25px;
    position: relative;
    font-size: 3rem;
}


#cardForm {
    position: fixed;
    width: 400px;
    height: 500px;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    display: block;
    border-radius: 20px;
    border: 3px solid black;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
}

button  {
    width: 80%;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    border: 2px solid black;
    padding: 5px;
    font-weight: bold;
}

input {
    width: 80%
}

#submit {
    background-color: greenyellow;
}

#close {
    background-color: hsl(0, 80%, 65%);
}

button:hover {
    cursor: pointer;
}

button:active {
    color: white;
}